body {
  background: rgba(0,0,0,0);
}

.message-id {
  font-size: 31px;
  color: #A02020;
}

.message-text {
  font-size: 41px;
  color: white;
}

.message-sep {
  font-size: 30px;
}

input {
  font-size: 33px;
}
